<div class="container">
    <ul class="list-group">
        <li class="list-group-item d-flex align-items-center" *ngFor="let entity of entities"
            style="display: flex; gap: 1rem;">
            <span class="mr-2">{{ entity.idEntidad }}</span>
            <span class="mr-2">{{ entity.tipoDocumento }}</span>
            <span class="mr-2">{{ entity.numeroDocumento }}</span>
            <span class="mr-2">{{ entity.razonSocial }}</span>
            <span class="mr-2">{{ entity.nombreComercial }}</span>
            <span class="mr-2">{{ entity.tipoContribuyente }}</span>
            <span class="mr-2">{{ entity.direccion }}</span>
            <span class="mr-2">{{ entity.telefono }}</span>
            <button class="btn btn-primary btn-sm ml-auto" (click)="editEntity(entity.idEntidad)">Edit</button>
            <button class="btn btn-danger btn-sm ml-2" (click)="deleteEntity(entity.idEntidad)">Delete</button>
        </li>
    </ul>
</div>