<!-- Create a new tipo contribuyente -->
<div class="container mt-5">
    <h2 class="mb-3">{{ isEditMode ? 'Edit' : 'Create' }} Tipo Contribuyente</h2>
    <form class="needs-validation" style="display:flex; flex-direction: column; gap: 1rem" novalidate>
        <div class="form-group" style="display:flex; flex-direction: column; gap: 0.5rem">
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" id="nombre" [(ngModel)]="newTipoContribuyente.nombre" class="form-control"
                required minlength="1" maxlength="50">
            <small class="text-danger"
                *ngIf="!newTipoContribuyente.nombre || newTipoContribuyente.nombre.length < 1">Please enter a
                name.</small>
        </div>
        <div class="form-group form-check" style="display:flex; flex-direction: column; gap: 0.5rem">
            <label class="form-check-label" for="estado">
                <input type="checkbox" name="estado" id="estado" [(ngModel)]="newTipoContribuyente.estado"
                    class="form-check-input">
                Estado
            </label>
        </div>

        <div *ngIf="isEditMode; else createButton">
            <button class="btn btn-success" (click)="updateTipoContribuyente()">
                <i class="fa fa-refresh"></i> Update
            </button>
        </div>

        <ng-template #createButton>
            <button class="btn btn-success" (click)="createTipoContribuyente()">
                <i class="fa fa-plus"></i> Create
            </button>
        </ng-template>
    </form>
</div>