<div class="container">
    <h2 class="mb-3">All Tipo Contribuyentes</h2>
    <ul class="list-group">
        <li class="list-group-item d-flex align-items-center" *ngFor="let tipoContribuyente of tipoContribuyentes"
            style="display: flex; gap: 1rem;">
            <span>{{ tipoContribuyente.nombre }}</span>
            <button class="btn btn-primary btn-sm ml-auto"
                (click)="editTipoContribuyente(tipoContribuyente.idTipoContribuyente)">
                <i class="fa fa-pencil"></i> Edit
            </button>
            <button class="btn btn-danger btn-sm ml-2"
                (click)="deleteTipoContribuyente(tipoContribuyente.idTipoContribuyente)">
                <i class="fa fa-trash"></i> Delete
            </button>
        </li>
    </ul>
</div>