<!-- Create Entity Form -->
<div class="container mt-5">
    <h2 class="mb-3">{{ isEditMode ? 'Edit' : 'Create' }} Entidad</h2>

    <form class="needs-validation" style="display:flex; flex-direction: column; gap: 1rem" novalidate>
        <div class="form-group" style="display:flex; flex-direction: column; gap: 0.5rem">
            <label for="tipoDocumento">Tipo Documento:</label>
            <select id="tipoDocumento" name="tipoDocumento" class="form-control" [(ngModel)]="newEntity.tipoDocumento"
                required>
                <option *ngFor="let tipoDocumento of tipoDocumentoContribuyentes.tipoDocumentos"
                    [value]="tipoDocumento.idTipoDocumento">
                    {{ tipoDocumento.nombre }}
                    {{ tipoDocumento.idTipoDocumento }}
                </option>
            </select>
        </div>
        <div class="form-group" style="display:flex; flex-direction: column; gap: 0.5rem">
            <label for="numeroDocumento">Número Documento:</label>
            <input type="text" id="numeroDocumento" name="numeroDocumento" class="form-control"
                [(ngModel)]="newEntity.numeroDocumento" pattern="[0-9]*" required minlength="1" maxlength="50">
            <small class="text-danger" *ngIf="!newEntity.numeroDocumento || newEntity.numeroDocumento.length < 1">Please
                enter a number.</small>
        </div>
        <div class="form-group" style="display:flex; flex-direction: column; gap: 0.5rem">
            <label for="razonSocial">Razón Social:</label>
            <input type="text" id="razonSocial" name="razonSocial" class="form-control"
                [(ngModel)]="newEntity.razonSocial" required minlength="1" maxlength="50">
            <small class="text-danger" *ngIf="!newEntity.razonSocial || newEntity.razonSocial.length < 1">Please enter a
                reason.</small>
        </div>
        <div class="form-group" style="display:flex; flex-direction: column; gap: 0.5rem">
            <label for="nombreComercial">Nombre Comercial:</label>
            <input type="text" id="nombreComercial" name="nombreComercial" class="form-control"
                [(ngModel)]="newEntity.nombreComercial" maxlength="50">
        </div>
        <div class="form-group" style="display:flex; flex-direction: column; gap: 0.5rem">
            <label for="tipoContribuyente">Tipo Contribuyente:</label>
            <select id="tipoContribuyente" name="tipoContribuyente" class="form-control"
                [(ngModel)]="newEntity.tipoContribuyente" required>
                <option *ngFor="let tipoContribuyente of tipoDocumentoContribuyentes.tipoContribuyentes"
                    [value]="tipoContribuyente.idTipoContribuyente">
                    {{ tipoContribuyente.nombre }}
                </option>
            </select>
        </div>
        <div class="form-group" style="display:flex; flex-direction: column; gap: 0.5rem">
            <label for="direccion">Dirección:</label>
            <input type="text" id="direccion" name="direccion" class="form-control" [(ngModel)]="newEntity.direccion"
                required minlength="1" maxlength="50">
            <small class="text-danger" *ngIf="!newEntity.direccion || newEntity.direccion.length < 1">Please enter an
                address.</small>
        </div>
        <div class="form-group" style="display:flex; flex-direction: column; gap: 0.5rem">
            <label for="telefono">Teléfono:</label>
            <input type="text" id="telefono" name="telefono" class="form-control" [(ngModel)]="newEntity.telefono"
                pattern="[0-9]*" maxlength="50">
            <small class="text-danger" *ngIf="!newEntity.telefono || newEntity.telefono.length < 1">Please enter a
                number.</small>
        </div>
        <div *ngIf="isEditMode; else createButton">
            <button class="btn btn-success" (click)="updateEntidad()">
                <i class="fa fa-refresh"></i> Update
            </button>
        </div>
        <ng-template #createButton>
            <button class="btn btn-success" (click)="createEntidad()">
                <i class="fa fa-plus"></i> Create
            </button>
        </ng-template>
    </form>
</div>