<!-- Create Entity Form -->
<div class="container mt-5">
    <h2 class="mb-3">{{ isEditMode ? 'Edit' : 'Create' }} Entidad</h2>

    <form>
        <div>
            <label for="tipoDocumento">Tipo Documento:</label>
            <select id="tipoDocumento" name="tipoDocumento" [(ngModel)]="newEntity.tipoDocumento">
                <!-- Add options here based on the available types of documents -->
            </select>
        </div>
        <div>
            <label for="numeroDocumento">Número Documento:</label>
            <input type="text" id="numeroDocumento" name="numeroDocumento" [(ngModel)]="newEntity.numeroDocumento"
                pattern="[0-9]*">
            <small class="text-danger" *ngIf="!newEntity.numeroDocumento">Please enter a number.</small>
        </div>
        <div>
            <label for="razonSocial">Razón Social:</label>
            <input type="text" id="razonSocial" name="razonSocial" [(ngModel)]="newEntity.razonSocial" required>
            <small class="text-danger" *ngIf="!newEntity.razonSocial">Please enter a reason.</small>
        </div>
        <div>
            <label for="nombreComercial">Nombre Comercial:</label>
            <input type="text" id="nombreComercial" name="nombreComercial" [(ngModel)]="newEntity.nombreComercial">
        </div>
        <div>
            <label for="tipoContribuyente">Tipo Contribuyente:</label>
            <select id="tipoContribuyente" name="tipoContribuyente" [(ngModel)]="newEntity.tipoContribuyente">
                <!-- Add options here based on the available types of contributors -->
            </select>
        </div>
        <div>
            <label for="direccion">Dirección:</label>
            <input type="text" id="direccion" name="direccion" [(ngModel)]="newEntity.direccion" required>
            <small class="text-danger" *ngIf="!newEntity.direccion">Please enter an address.</small>
        </div>
        <div>
            <label for="telefono">Teléfono:</label>
            <input type="text" id="telefono" name="telefono" [(ngModel)]="newEntity.telefono" pattern="[0-9]*">
            <small class="text-danger" *ngIf="!newEntity.telefono">Please enter a number.</small>
        </div>
        <div *ngIf="isEditMode; else createButton">
            <button class="btn btn-success" (click)="updateEntidad()" [disabled]="!isFormValid">
                <i class="fa fa-refresh"></i> Update
            </button>
        </div>
        <ng-template #createButton>
            <button class="btn btn-success" (click)="createEntidad()" [disabled]="!isFormValid">
                <i class="fa fa-plus"></i> Create
            </button>
        </ng-template>
    </form>
</div>