.container-home {
  min-width: 100%;
  min-height: 100vh;
  background-color: red;
}

.content-home {
  padding: 1rem;
  background-color: aqua;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
